{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Lari Automobile</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="../static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="../static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
      <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">



    <title>Document</title>
</head>
<body>

      <div class="header_section">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <div class="logo"><a href="index.html"><img src="../static/images/logo.png"></a></div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="gallery.html">Gallery</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                     </li>
                      <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
      

      <div class="banner_section layout_padding">
         <div class="container">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="banner_taital">
                              <h1 class="outstanding_text">Cars</h1>
                              <h1 class="mercedes">Mercedes</h1>
                              <p class="there_text">“Life is too short to drive boring cars.”</p>
                              <div class="learnmore_bt"><a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjQg6bmzM-BAxUhEnsHHaCqAE8YABAAGgJ0bQ&ase=2&gclid=EAIaIQobChMI0IOm5szPgQMVIRJ7Bx2gqgBPEAAYASAAEgIZ1_D_BwE&ohost=www.google.com&cid=CAASJeRoTeYk5M6nxaeNibYdBuEY-EQlYYVN3x0_ncg7J7cmNxgyvmY&sig=AOD64_2sa1s3qz58gaRVE-RCt-XX7lrBqA&q&nis=4&adurl&ved=2ahUKEwixp5rmzM-BAxWClFYBHctNDKEQ0Qx6BAgOEAE">Learn More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>
      </div>



      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_taital_main">
                     <div class="about_taital">About Us</div>
                     <p class="about_text">This is the car specification website where you can check all the models of cars and compare between them.</p>
                     <p class="about_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.Lorem Ipsum is simply</p>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img"><img src="../static/images/about.jpg"></div>
               </div>
            </div>
         </div>
      </div>



      <div class="gallery_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="gallery_taital">Our Gallery</h1>
                  <p class="gallery_text">Lorem Ipsum is simply dummy text of printing typesetting ststry lorem Ipsum the industry'ndard dummy text ever since of the 1500s, when an unknown printer took a galley of type and scra make a type specimen book. It has</p>
               </div>
            </div>
            <div class="">
               <div class="gallery_section_2">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="../static/images/bmw.png" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="text"><a href="https://www.bmw.in/"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="../static/images/fe.png" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="text"><a href="https://www.ferrari.com/"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="../static/images/wolk.png" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="text"><a href="https://www.volkswagen.co.in/"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="gallery_section_2">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="../static/images/ford.png" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="text"><a href="https://www.ford.com/"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="../static/images/nissan.png" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="overlay">
                                 <div class="text"><a href="https://www.nissan.in/"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="../static/images/land.png" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="overlay">
                                 <div class="text"><a href="https://www.landrover.in/"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="gallery_section_2">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="../static/images/audi.png" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="text"><a href="https://www.audi.in/"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="../static/images/toyo.png" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="text"><a href="https://www.toyotabharat.com/"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <img src="../static/images/hyun.png" alt="Avatar" class="image">
                           <div class="overlay">
                              <div class="text"><a href="https://www.hyundai.com/in/en"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="seemore_bt"><a href="https://www.spinny.com/">See More</a></div>
         </div>
      </div>



      <div class="services_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="services_taital">Services</h1>
                  <p class="services_text">Typesetting industry lorem Ipsum is simply dummy text of the </p>
               </div>
            </div>
            <div class="services_section_2">
               <div class="row">
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main active">
                        <div class="house_icon">
                           <img src="../static/images/boodmo.png" class="image_1">
                        </div>
                        <h3 class="decorate_text">Original Parts</h3>
                        <p class="tation_text">boodmo.com. Clear and transparent offers. We do not promote any particular suppliers, all parts are sorted by producers' information and filtered by customers’ choice. Quick and competent service. If any problems occur, boodmo.com will put its best foot forward to solve issues. </p>
                        <div class="readmore_bt"><a href="https://boodmo.com/">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main">
                        <div class="house_icon">
                           <img src="../static/images/go.png" class="image_1">
                        </div>
                        <h3 class="decorate_text">Different Color Choice</h3>
                        <p class="tation_text">Car painting services refer to the process of repainting a car or vehicle to improve its appearance or protect it from damage caused by exposure to the elements. This can include applying a new coat of paint to the entire car.</p>
                        <div class="readmore_bt"><a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwidj-Osu-CBAxXFqmYCHZ4FDmoYABAAGgJzbQ&gclid=CjwKCAjwvfmoBhAwEiwAG2tqzEJSWIFlE0ZUG084FrL0RG2Z4QUOT-DIJ-uZ_mVDufD7ZS4dKlErHxoCsDIQAvD_BwE&ohost=www.google.com&cid=CAESVeD2zqLasBN25ZFRNdQZiCEa5NmXPzlzRtmydzcKtPz_J0gY71nNbqIXtZcq4CixSm7-6xpnKY5mxrBDm-0vQ3xKmnX2MGcg2_QiWPuCv3ZSm-NwPLs&sig=AOD64_1VwmOJffQFoa0leYbb5HiPBWhALw&q&adurl&ved=2ahUKEwj7ytysu-CBAxW4SmwGHeWkAEkQ0Qx6BAgKEAE">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main">
                        <div class="house_icon">
                           <img src="images/icon3.png" class="image_1">
                           <img src="images/icon3.png" class="image_2">
                        </div>
                        <h3 class="decorate_text">Interior Design</h3>
                        <p class="tation_text">Design is a critical component of the development of textile materials for automotive interiors. It contributes to the overall quality and cost of the vehicle. </p>
                        <div class="readmore_bt"><a href="https://www.carbodydesign.com/publications/car-design-pubs/interior-design/">Read More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>



      <div class="client_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="client_taital">History</h1>
                  <p class="client_text">The modern car—a practical, marketable automobile for everyday use—was invented in 1886</p>
               </div>
            </div>
         </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_section_2">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="testimonial_section_2">
                            <h4 class="client_name_text">The first automobile <span class="quick_icon"><img src="../static/images/first.webp"></span></h4>
                            <p class="customer_text">On January 29, 1886, Carl Benz applied for a patent for his “vehicle powered by a gas engine.” The patent – number 37435 – may be regarded as the birth certificate of the automobile. In July 1886 the newspapers reported on the first public outing of the three-wheeled Benz Patent Motor Car, model no. 1. All the</p>
                         </div>
                      </div>
                   </div>
                </div>
            </div>
          </div>
        </div>
      </div>
     </div>




      <div class="contact_section layout_padding">
         <div class="container">
            <h1 class="contact_text">Contact Us</h1>
         </div>
      </div>
      <div class="contact_section_2 layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6 padding_0">
                  <div class="mail_section">
                     <div class="email_text">
                        <div class="form-group">
                           <input type="text" class="email-bt" placeholder="Name" name="Email">
                        </div>
                        <div class="form-group">
                           <input type="text" class="email-bt" placeholder="Email" name="Email">
                        </div>
                        <div class="form-group">
                           <input type="text" class="email-bt" placeholder="Phone Numbar" name="Email">
                        </div>
                        <div class="form-group">
                           <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                        </div>
                        <div class="send_btn">
                           <div type="text" class="main_bt"><a href="#">SEND</a></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 padding_0">
                  <div class="lari-responsive">
                     <img src="../static/images/lari.jpg">
                  </div>
               </div>
            </div>
         </div>
      </div>



      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">About</h3>
                  <p class="footer_text">This is the car specification website where you can check all the models of cars and compare between them.</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">Menu</h3>
                  <div class="footer_menu">
                     <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">Gallery</a></li>
                        <li><a href="gallery.html">Service</a></li>
                        <li><a href="services.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="useful_text">Useful Link</h1>
                  <div class="footer_menu">
                     <ul>
                        <li><a href="https://www.carwale.com/">Car Wale</a></li>
                        <li><a href="https://www.cardekho.com/newcars">Car dekho</a></li>
                        <li><a href="https://www.zigwheels.com/newcars">Zig Wheels</a></li>
                        <li><a href="https://www.cartrade.com/new-cars/">Car Trade</a></li>
                        <li><a href="https://www.autocarindia.com/new-cars">Auto Car India</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="useful_text">Contact Us</h1>
                  <div class="location_text">
                     <ul>
                        <li>
                           <a href="#">
                           <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address : Mumbai</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Call : +916393307456</span>
                           </a>
                        </li>
                        <li>
                           <a href="https://mail.google.com/mail/u/0/#inbox?compose=new">
                           <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email : umarlari2122@gmail.com</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>



      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">2023 All Rights Reserved. Design by Mohammad Umar Lari</a></p>
         </div>
      </div>
      <!-- copyright section end -->
    

    <script src="../node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
</body>
</html>